# dataset folder
horse2zebra/
human2simpson/

# model checkpoints & progress images
model_checkpoints/
training_progress_img/

# output images
predicted_img*.png

# image dataset as .npz
*.npz

#ipynb checkpoints
*/.ipynb_checkpoints/